{
  "reporter": [
    "lcov",
    "text",
    "text-summary"
  ],
  "all": true,
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "src/bootstrap.ts",
    "test/**/*.spec.ts",
    "test/bootstrap.test.ts",
    "src/interfaces/**/*.ts"
  ],
  "check-coverage": true
}